/* background-color: #cc3f55; */
header{
    background-color: #ffffff;
    height: 75px;

    /* Borda: */
    box-shadow: 1px 4px 4px 0px #00000055;
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-left: 150px;
}

.cabecalho img{
    height: 55px;
    height: 100%;
}

.link_header{
    margin-left: 55px;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .header-header img{
        height: 15px;
    }
    .header-header{
        justify-content: center;
        align-items: center;
    }
    .link-header{
        display: none;
    }
    .navas_header{
        display: none;
    }
}

    

/*Seletor
    . = classe
    # = id
    tag = tag
    🦈👟✈️🐊*/

    nav.nav_header {
        display: flex
    ;
    }

    a.Adm {
        margin-top: 60px;
        margin-left: 120px;
        margin-right: 30px;
        color: black;
    }

    a {
        margin-left: 50px;
        color: black;
        text-decoration: none;
    }

    img.logoHeader {
        width: 200px;
        height: 30px;
    }   