/* h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main.main_CadastroEvento {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.botao {
    width: 200px;
}

hr {
    width: 269px;
    border-bottom: 2px solid red;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
}

input[type="email"] {
    width: 190px;
    border-left: none;
    border-right: none;
    border-top: none;
}

input[type="password"] {
    width: 190px;
    border-left: none;
    border-right: none;
    border-top: none;
} */