.botao {
    /* padding: 5px 100px; */
    width: 370px;
    height: 35px;
    border: none;
    background-color: #B51D44;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    font-weight: bolder;
}